﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1>Criipto Verify log in</h1>

    <p>Login with NemID or MitID <a href="http://docs.criipto.com/how-to/test-users.md">from here</a>.</p>
    <select name="loginmethod" form="loginform">
      @* <option value="urn:grn:authn:dk:nemid:poces">Danish NemID personal with code card</option> *@
      @*<option value="urn:grn:authn:dk:nemid:moces">Danish NemID employee with code card</option>
      <option value="urn:grn:authn:dk:nemid:moces:codefile">Danish NemID employee with code file</option>*@
      <option value="urn:grn:authn:dk:mitid:low">Danish MitID code card</option>
      @*<option value="urn:grn:authn:dk:mitid:substantial">Danish MitID with swipe</option>*@
    </select>
    <br>
    <br>

    <form action="/Home/Protected" id="loginform">
      <input type="submit" value="Login">
    </form>
    <br>

</div>
