@model Coupon
@{
    ViewData["Title"] = "ASP.NET Core + Criipto Verify";
}
<h2>Welcome </h2>
@*<head>
    <meta http-equiv="refresh" content="0; url=https://dev.modstroem.dk/minside/landingpage/#thankyou?Cupon" />
</head>*@

@*<dl>
    @foreach (var claim in User.Claims)
    {
        <dt>@claim.Type</dt>
        <dd>@claim.Value</dd>

    }
</dl>*@